<div class="availability-calendar__container">
  <div class="availability-calendar__header">
    <button class="availability-calendar__last-week availability-calendar__arrow">&#8592;</button>
    <span class="availability-calendar__month-label"></span>
    <button class="availability-calendar__next-week availability-calendar__arrow">&#8594;</button>
  </div>
  <ul class="availability-calendar__calendar"></ul>
  <div class="availability-calendar__footer">
    <span class="availability-calendar__full-date"></span>
  </div>
  <button class="availability-calendar__dropdown-button">
    See dates &#9662;
  </button>
</div>
