<div class="availability-calendar__dropdown-group">

  <button id="calendar-button" class="availability-calendar__dropdown-button">
    See dates
  </button>

  <div id="calendar-content" class="availability-calendar__dropdown-content">
    <div class="availability-calendar__calendar-container">
      <div class="availability-calendar__header">
        <button class="availability-calendar__last-week availability-calendar__arrow">&#65513;</button>
        <span class="availability-calendar__month-label"></span>
        <button class="availability-calendar__next-week availability-calendar__arrow">&#65515;</button>
      </div>
      <ul class="availability-calendar__calendar"></ul>
      <div class="availability-calendar__footer">
        <span class="availability-calendar__full-date"></span>
      </div>
    </div>
  </div>

  <button id="quantity-button" class="availability-calendar__dropdown-button">
  </button>

  <div id="quantity-content" class="availability-calendar__dropdown-content">
    <div class="availability-calendar__quantity-container">
      <div class="availability-calendar__quantity-control">
        <button class="availability-calendar__minus availability-calendar__circle-btn">
          <span>-</span>
        </button>
        <span class="availability-calendar__quantity-label"></span>
        <button class="availability-calendar__plus availability-calendar__circle-btn">
          <span>+</span>
        </button>
      </div>
      <button class="availability-calendar__quantity-confirm">
        Confirm
      </button>
    </div>
  </div>

</div>
