<button id="calendar-button" class="dropdowns__dropdown-button">
  See dates
</button>

<div id="calendar-content" class="dropdowns__dropdown-content">
  <div class="availability-calendar__calendar-container">
    <div class="availability-calendar__header">
      <button class="availability-calendar__last-week availability-calendar__arrow">&#65513;</button>
      <span class="availability-calendar__month-label"></span>
      <button class="availability-calendar__next-week availability-calendar__arrow">&#65515;</button>
    </div>
    <ul class="availability-calendar__calendar"></ul>
    <div class="availability-calendar__footer">
      <span class="availability-calendar__full-date"></span>
    </div>
  </div>
  <div class="availability-calendar__timeslots-container">
    <ul class="availability-calendar__timeslots-ul">
    </ul>
  </div>
</div>
