<div class="availability-calendar__container">
  <div class="availability-calendar__header">
    <button class="availability-calendar__last-week availability-calendar__arrow">&#8592;</button>
    <span class="availability-calendar__month-label"></span>
    <button class="availability-calendar__next-week availability-calendar__arrow">&#8594;</button>
  </div>
  <ul class="availability-calendar__calendar"></ul>
  <button class="availability-calendar__dropdown-button">
    See dates &#9662;
  </button>
  <!-- <ul>
    <li>
      <span>hi</span>
      <input type="radio" id="a25" name="amount" />
      <label for="a25">$25</label>
  </li>
  <li>
      <input type="radio" id="a50" name="amount" />
      <label for="a50">$50</label>
  </li>
  <li>
      <input type="radio" id="a75" name="amount" checked="checked" />
      <label for="a75">$75</label>
  </li> -->
  </ul>
</div>
