<div class="availability-calendar__container">
  <div class="availability-calendar__arrows-container">
    <button class="availability-calendar__last-week availability-calendar__arrow">&#8592;</button>
    <button class="availability-calendar__next-week availability-calendar__arrow">&#8594;</button>
  </div>
  <div class="availability-calendar__datepicker-container"></div>
  <button class="availability-calendar__dropdown-button">
    See dates &#9662;
  </button>
</div>
