{{ 'see-dates.scss.css' | asset_url | stylesheet_tag }}

<div class="see-dates__container">
  <!-- SEE DATES CONTAINER -->
  <button class="see-dates__dropdown-button">
    See dates &#9662;
  </button>
</div>
