<button id="quantity-button" class="dropdowns__dropdown-button">
</button>

<div id="quantity-content" class="dropdowns__dropdown-content">
  <div class="ticket-quantity__quantity-container">
    <div class="ticket-quantity__quantity-control">
      <button class="ticket-quantity__minus ticket-quantity__circle-btn">
        <span>-</span>
      </button>
      <span class="ticket-quantity__quantity-label"></span>
      <button class="ticket-quantity__plus ticket-quantity__circle-btn">
        <span>+</span>
      </button>
    </div>
    <button class="ticket-quantity__quantity-confirm">
      Confirm
    </button>
  </div>
</div>
