/*=============== VARIABLES ================*/
$theme-light-gray: #f3f3f3;
$theme-dark-gray: #ccc;
$theme-indigo: #505DBF;
$font-size: 0.9rem;
$font-bold: 600;
$li-height: 70px;
$li-width: 40px;
$dropdown-button-width: 190px;
$dropdown-button-height: 30px;
$dropdown-arrow-position: 112px;
$dropdown-border-color: rgba(200, 200, 200, 0.5);
$dropdown-border-radius: 3px;
$dropdown-opacity-ease: opacity 0.5s ease;
$calendar-selected-radius: 35px;
$quantity-btn-size: 20px;

/*================ DROP-DOWN STYLES ================*/
main {
  display: flex;
  position: relative;
}

.availability-calendar__mask {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.availability-calendar__dropdown-group {
  display: flex;
  justify-content: space-between;
  height: ($dropdown-button-height * 4);
  position: relative;
  z-index: 40;
}

#calendar-button {
  position: absolute;
  top: 0;
}

#quantity-button {
  position: absolute;
  top: ($dropdown-button-height * 2);
}

.availability-calendar__dropdown-button {
  background: #fff;
  border-radius: $dropdown-border-radius;
  outline: none;
  text-align: left;
  margin-bottom: 20px;
  padding: 5px 10px;
  height: $dropdown-button-height;
  width: $dropdown-button-width;

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
  }
}

#calendar-content {
  top: ($dropdown-button-height + 10px);
}

#quantity-content {
  top: (($dropdown-button-height * 3) + 10px);
}

.availability-calendar__dropdown-content {
  background: #fff;
  border: 1px solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  transition: $dropdown-opacity-ease;
  min-width: $dropdown-button-width;
  opacity: 0;
  padding: 5px;
  z-index: 50;
  pointer-events: none;
  position: absolute;

  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: ($dropdown-arrow-position + 0px);
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: $dropdown-border-color transparent;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: ($dropdown-arrow-position + 1) + 0px;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: #fff transparent;
  }
}

.availability-calendar__calendar-active,
.availability-calendar__quantity-active
 {
  opacity: 1;
  transition: $dropdown-opacity-ease;
  pointer-events: all;
}

/*================ AVAILABILITY CALENDAR STYLES ================*/
.availability-calendar__calendar-container {
  font-family: Avenir, sans-serif;
  font-size: 0.9rem;
  background: $theme-light-gray;
  border-radius: $dropdown-border-radius;
  padding: 8px 0;
  cursor: default;
}

.availability-calendar__calendar {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 0;
  padding: 0 20px;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    min-height: $li-height;
    min-width: $li-width;
  }

  li > span {
    position: absolute;
    top: -4px;
  }

  span, label {
    font-size: ($font-size - 0.1);
    font-weight: $font-bold;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: ($li-height / 2);
    width: 100%;
    z-index: 90;
  }

  input[type="radio"] {
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
  }

  input[type="radio"]:checked + label {
    border: none;
    border-radius: 50%;
    background: #4A90E2;
    color: #fff;
    height: $calendar-selected-radius;
    width: $calendar-selected-radius;
  }

  input[type="radio"]:disabled + label {
    color: #c2c2c2;
  }
}

.availability-calendar__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .availability-calendar__month-label {
    font-weight: 600;
  }

  .availability-calendar__arrow {
    background: transparent;
    border: none;
    font-size: 2rem;
  }
}

.availability-calendar__footer {
  display: flex;
  justify-content: center;
}

/*================ TICKET QUANTITY STYLES ================*/
.availability-calendar__quantity-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.availability-calendar__quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  min-width: 80px;
}

.availability-calendar__circle-btn {
  height: $quantity-btn-size;
  width: $quantity-btn-size;
  color: #000;
  border: 1px solid $theme-dark-gray;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  span {
    position: absolute;
    top: -1px;
  }
}

.availability-calendar__minus {
  span {
    font-size: 1rem;
  }

  &:disabled {
    border-color: $theme-light-gray;
    color: $theme-light-gray;
    cursor: default;
  }
}

.availability-calendar__quantity-confirm {
  border: none;
  border-radius: $dropdown-border-radius;
  background: $theme-indigo;
  color: #fff;
  padding: 8px 16px;
}

.availability-calendar__quantity-label {
  cursor: default;
  font-weight: 600;
}
