/*================ DROP-DOWN STYLES ================*/
main {
  display: flex;
  position: relative;
}

.product__dropdown-group {
  display: flex;
  justify-content: space-between;
  height: ($dropdown-button-height * 6);
  position: relative;
  z-index: 100;
}

#calendar-button {
  position: absolute;
  top: 0;
}

#quantity-button {
  position: absolute;
  top: ($dropdown-button-height * 2);
}

.dropdowns__mask {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

.dropdowns__dropdown-button {
  background: #fff;
  border-radius: $default-border-radius;
  outline: none;
  text-align: left;
  padding: 5px 10px;
  height: $dropdown-button-height;
  width: $dropdown-button-width;

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
  }
}

#calendar-content {
  top: ($dropdown-button-height + 10px);
}

#quantity-content {
  top: (($dropdown-button-height * 3) + 10px);
}

#book-event-button {
  color: #fff;
  background: #505DBF;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 25px;
  width: $dropdown-button-width;
  top: ($dropdown-button-height * 4);
  position: absolute;
  outline: none;
}

.dropdowns__dropdown-content {
  background: #fff;
  border: 1px solid $dropdown-border-color;
  border-radius: $default-border-radius;
  transition: $dropdown-opacity-ease;
  min-width: $dropdown-button-width;
  opacity: 0;
  padding: 5px;
  z-index: 50;
  pointer-events: none;
  position: absolute;

  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: ($dropdown-arrow-position + 0px);
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: $dropdown-border-color transparent;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: ($dropdown-arrow-position + 1) + 0px;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: #fff transparent;
  }
}

.availability-calendar__calendar-active,
.ticket-quantity__quantity-active
 {
  opacity: 1;
  transition: $dropdown-opacity-ease;
  pointer-events: all;
}

/*================ AVAILABILITY CALENDAR STYLES ================*/
.availability-calendar__calendar-container {
  font-family: Avenir, sans-serif;
  font-size: 0.9rem;
  background: $theme-light-gray;
  border-radius: $default-border-radius;
  padding: 8px 0;
  cursor: default;
}

.availability-calendar__calendar {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 0;
  padding: 0 20px;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    min-height: $li-height;
    min-width: $li-width;
  }

  li > span {
    position: absolute;
    top: -4px;
  }

  span, label {
    font-size: ($font-size - 0.1);
    font-weight: $font-bold;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: ($li-height / 2);
    width: 100%;
    z-index: 90;
  }

  input[type="radio"] {
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
  }

  input[type="radio"]:checked + label {
    border: none;
    border-radius: 50%;
    background: $theme-blue;
    color: #fff;
    height: $calendar-selected-radius;
    width: $calendar-selected-radius;
  }

  input[type="radio"]:disabled + label {
    color: #c2c2c2;
    cursor: default;
  }
}

.availability__calendar__warning {
  color: $theme-red;
}

.availability__calendar__hidden {
  display: none;
}

.availability-calendar__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .availability-calendar__month-label {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .availability-calendar__arrow {
    background: transparent;
    border: none;
    font-size: 2rem;

    &:disabled {
      cursor: default;
    }
  }
}

.availability-calendar__footer {
  display: flex;
  justify-content: center;
}

.availability-calendar__timeslots-ul {
  cursor: default;
  list-style: none;
  padding: 0;
  font-size: $font-size;

  li {
    border-bottom: 1px solid $theme-dark-gray;
    height: 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      border-radius: $default-border-radius;
      background: $theme-light-gray;
    }

    .availability__calendar__time-sold-out {
      color: #aaa;
    }

    .availability__calendar__spots-sold-out {
      color: $theme-red;
    }

    .availability__calendar__select-button {
      @include theme-button(8px, 20px, $theme-blue);
    }
  }

  li:last-child {
    border: none;
  }
}

/*================ TICKET QUANTITY STYLES ================*/
.ticket-quantity__quantity-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.ticket-quantity__quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  min-width: 80px;
}

.ticket-quantity__circle-btn {
  height: $quantity-btn-size;
  width: $quantity-btn-size;
  color: #000;
  border: 1px solid $theme-dark-gray;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  span {
    position: absolute;
    top: -1px;
  }
}

.ticket-quantity__minus {
  span {
    font-size: 1rem;
  }

  &:disabled {
    border-color: $theme-light-gray;
    color: $theme-light-gray;
    cursor: default;
  }
}

.ticket-quantity__quantity-confirm {
  @include theme-button(8px, 16px, $theme-indigo);
}

.ticket-quantity__quantity-label {
  cursor: default;
  font-weight: 600;
}
