/*================ PRODUCT VARIABLES ================*/
$light-gray: #dfdfdf;
$header-size: 2.5rem;
$subheader-size: 1rem;
$body-text-size: .9rem;

/*================ * STYLES ================*/
h1, h2, h3, h4, h5, h6, p { margin: 0; }

@mixin bottom-spacer($space) {
  margin-bottom: $space;
}

.bottom-spacer-small {
  @include bottom-spacer(8px);
}

.product__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;

  .product__title-container__title {
    font-size: $header-size;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }

  .product__title-container__tagline {
    font-size: $subheader-size;
  }
}

.product__hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*================ GRID STYLES ================*/
@mixin two-col-grid($col1, $col2) {
  display: grid;
  grid-template-columns: $col1 $col2;
  -ms-grid-template-columns: $col1 $col2;
}

.product__display-grid {
  @include two-col-grid(30%, 70%);
  line-height: 1.5;

  .product__display-grid__infobox {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .product__display-grid__detailsbox {
    border-bottom: 1px solid $light-gray;
    padding-top: 35px;
    padding-bottom: 25px;

    &:last-child {
      border: none;
      margin-bottom: 50px;
    }
  }
}

.product__display-grid__col1 { padding-right: 5%; }
.product__display-grid__col2 { padding-left: 8%; }
.product__display-grid__header { font-size: $subheader-size; }
.product__display-grid__text { font-size: $body-text-size; }

#book-event-button {
  color: #fff;
  background: #505DBF;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 25px;
}

/*================ TIME SLOT PICKER STYLES ================*/
.see-dates__container {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
}
