/*================ GENERAL STYLING ================*/
h1, h2, h3, h4, h5, h6, p { margin: 0; }

.bottom-spacer-small {
  @include bottom-spacer(8px);
}

.product__section-container {
  @include break-screen($mid-screens) {
    padding: 0 10%;
  }
}

.product__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  margin-bottom: 20px;
  border-bottom: 1px solid $theme-mid-gray;

  .product__title-container__title {
    font-size: $header-size;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }

  .product__title-container__tagline {
    font-size: $subheader-size;
  }
}

/*================ GRID STYLES ================*/
@mixin two-col-grid($col1, $col2) {
  display: grid;
  grid-template-columns: $col1 $col2;
  -ms-grid-template-columns: $col1 $col2;
  max-width: $grid-width;
}

.product__display-grid {
  @include two-col-grid($grid-col1-width, $grid-col2-width);
  @include break-screen($mid-screens) {
    display: flex;
    flex-direction: column;
  }

  line-height: 1.5;

  .product__display-grid__infobox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 30px;
    width: 100%;

    @include break-screen($mid-screens) {
      text-align: center;
    }
  }

  .product__display-grid__detailsbox {
    border-bottom: 1px solid $theme-mid-gray;
    padding-top: 35px;
    padding-bottom: 25px;

    @include break-screen($mid-screens) {
      text-align: center;
    }

    &:last-child {
      border: none;
      margin-bottom: 50px;
    }
  }
}

.product__display-grid__col1 {
  .product__display-grid__divider {
    margin: 20px 0 25px 0;
    border-top: 1px solid $theme-mid-gray;
  }
}

.product__display-grid__col2 {
  padding-left: $grid-padding;
  @include break-screen($mid-screens) { padding: 0; }
}

.product__display-grid__host-text {
  padding-left: 40px;
  @include break-screen($mid-screens) { text-align: center; }
}

.product__display-grid__header { font-size: $subheader-size; }
.product__display-grid__text { font-size: $body-text-size; }


.product__display-grid__hostbox {
  display: flex;
  margin-top: 20px;
}

.product__display-grid__host-image-wrapper {
  border-radius: 50%;
}

.product__display-grid__host-image {
  border-radius: 50%;
  height: $host-img-size;
  width: $host-img-size;
}

// /*================ CAROUSEL STYLES ================*/
// .product__carousel-container {
//   overflow: hidden;
//   position: relative;
//   height: $image-height;
//   width: 100%;
//
//   @include break-screen($small-screens) {
//     height: ($image-height * 0.75);
//     transition: height 1s ease;
//   }
//
//   @include break-screen($tiny-screens) {
//     height: ($image-height * 0.5625);
//     transition: height 1s ease;
//   }
//
//   .product__carousel-controls {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: absolute;
//     padding: 0 15px;
//     height: 100%;
//     width: 100%;
//     z-index: 50;
//   }
//
//   .product__carousel-images {
//     display: flex;
//     justify-content: center;
//     list-style: none;
//     padding: 0;
//     height: 100%;
//     width: 100%;
//
//     li {
//       display: flex;
//       position: absolute;
//       top: ($image-height + 10px);
//       height: 100%;
//       width: 100%;
//
//       div.product__image {
//         background-size: cover !important;
//         display: flex;
//         height: 100%;
//         width: 100%;
//       }
//     }
//
//     li.product__active-image {
//       top: 0;
//     }
//   }
//
//   .product__carousel-prev,
//   .product__carousel-next {
//     font-size: 1.5rem;
//     height: 35px;
//     width: 35px;
//     outline: none;
//     border: none;
//     border-radius: 50%;
//     background: rgba(255, 255, 255, 0.7);
//
//     &:focus {
//       box-shadow: 0 0 3px 2px #4A90E2;
//     }
//   }
// }
