/*================ DEFAULT OVERRIDE ================*/
.social-sharing {
  border-top: 1px solid #E6E6E6;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

/*================ STICKY FOOTER ================*/
html, body {
  font-family: sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.theme__main-container {
  flex: 1 0 auto;
  padding: 0 4%;
}

a {
  color: #505DBF;
  text-decoration: none;

  &:active {
    color: #505DBF;
  }
}

.theme__products-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.theme__product-container {
  border: 1px dashed black;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px;
  margin: 30px 0;
}
